<div class="side-nav">
  <ul>
    <li>
      <div class="side-nav-element" routerLink="/locators">
        <span><i class="material-icons nav-icon">group</i></span>
        <span class="nav-text">Lokatorzy</span>
      </div>
    </li>
    <li>
      <div class="side-nav-element" routerLink="/buildings">
        <span><i class="material-icons nav-icon">account_balance</i></span>
        <span class="nav-text">{{ 'side-nav-building' | translate}}</span>
      </div>
    </li>
    <li>
      <div class="side-nav-element">
        <span><i class="material-icons nav-icon">monetization_on</i></span>
        <span class="nav-text">Rachunki</span>
      </div>
    </li>
    <li>
      <div class="side-nav-element">
        <span><i class="material-icons nav-icon">description</i></span>
        <span class="nav-text">Odczyty</span>
      </div>
    </li>
  </ul>
</div>
