<div class="side-nav">
  <ul>
    <li *ngIf="authGuard.hasRole(['ROLE_ADMIN'])">
      <div class="side-nav-element" routerLink="/locators">
        <span><i class="material-icons nav-icon">group</i></span>
        <span class="nav-text">{{ 'side-nav-premises' | translate}}</span>
      </div>
    </li>
    <li *ngIf="authGuard.hasRole(['ROLE_ADMIN', 'ROLE_MANAGER'])">
      <div class="side-nav-element" routerLink="/buildings">
        <span><i class="material-icons nav-icon">account_balance</i></span>
        <span class="nav-text">{{ 'side-nav-building' | translate}}</span>
      </div>
    </li>
    <li *ngIf="authGuard.hasRole(['ROLE_ADMIN', 'ROLE_MANAGER'])">
      <div class="side-nav-element" routerLink="/bills">
        <span><i class="material-icons nav-icon">monetization_on</i></span>
        <span class="nav-text">{{ 'side-nav-bills' | translate}}</span>
      </div>
    </li>
    <li *ngIf="authGuard.hasRole(['ROLE_USER'])">
      <div class="side-nav-element" routerLink="/userBills">
        <span><i class="material-icons nav-icon">monetization_on</i></span>
        <span class="nav-text">{{ 'side-nav-bills' | translate}}</span>
      </div>
    </li>
    <li *ngIf="authGuard.hasRole(['ROLE_ADMIN', 'ROLE_MANAGER'])">
      <div class="side-nav-element" routerLink="/measurements">
        <span><i class="material-icons nav-icon">description</i></span>
        <span class="nav-text">{{ 'side-nav-measurements' | translate}}</span>
      </div>
    </li>
    <li *ngIf="authGuard.hasRole(['ROLE_USER'])">
      <div class="side-nav-element" routerLink="/userMeasurements">
        <span><i class="material-icons nav-icon">description</i></span>
        <span class="nav-text">{{ 'side-nav-measurements' | translate}}</span>
      </div>
    </li>
  </ul>
</div>
