<header>
  <div class="header-area">
    <h3 class="header-title">Dodaj odczyt</h3>
  </div>
</header>
<div class="new-measurement-area w-33">
  <form #measurementForm="ngForm" (ngSubmit)="measurementForm.form.valid && onSubmit(measurementForm)" *ngIf="measurement">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Prąd</mat-label>
        <input type="number"
               placeholder="Prąd"
               matInput
               [(ngModel)]="measurement.electricity"
               name="electricity"
               #electricity="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && electricity.invalid" class="invalid-feedback">
        <div *ngIf="electricity.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Ciepła woda</mat-label>
        <input type="number"
               placeholder="Ciepła woda"
               matInput
               [(ngModel)]="measurement.hotWater"
               name="hotWater"
               #hotWater="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && hotWater.invalid" class="invalid-feedback">
        <div *ngIf="hotWater.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Zimna woda</mat-label>
        <input type="number"
               placeholder="Zimna woda"
               matInput
               [(ngModel)]="measurement.coldWater"
               name="coldWater"
               #coldWater="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && coldWater.invalid" class="invalid-feedback">
        <div *ngIf="coldWater.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Ogrzewanie</mat-label>
        <input type="number"
               placeholder="Ogrzewanie"
               matInput
               [(ngModel)]="measurement.heating"
               name="heating"
               #heating="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && heating.invalid" class="invalid-feedback">
        <div *ngIf="heating.errors.required">Wymagane pole</div>
      </div>
    </div>
    <button  mat-raised-button class="primary add-measurement-btn" type="submit">Dodaj odczyt</button>
  </form>
</div>
