<header>
  <div class="header-area">
    <h3 class="header-title" *ngIf="!isEditingMeasurement">Dodaj odczyt</h3>
    <h3 class="header-title" *ngIf="isEditingMeasurement">Edytuj odczyt</h3>
  </div>
</header>
<div class="new-measurement-area w-33">
  <form #measurementForm="ngForm" (ngSubmit)="measurementForm.form.valid && onSubmit(measurementForm)" *ngIf="measurement">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Prąd</mat-label>
        <input type="number"
               placeholder="Prąd"
               matInput
               [(ngModel)]="measurement.electricity"
               name="electricity"
               #electricity="ngModel">
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && electricity.invalid" class="invalid-feedback">
        <div *ngIf="electricity.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Ciepła woda</mat-label>
        <input type="number"
               placeholder="Ciepła woda"
               matInput
               [(ngModel)]="measurement.hotWater"
               name="hotWater"
               #hotWater="ngModel"
               >
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && hotWater.invalid" class="invalid-feedback">
        <div *ngIf="hotWater.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Zimna woda</mat-label>
        <input type="number"
               placeholder="Zimna woda"
               matInput
               [(ngModel)]="measurement.coldWater"
               name="coldWater"
               #coldWater="ngModel"
               >
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && coldWater.invalid" class="invalid-feedback">
        <div *ngIf="coldWater.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Ogrzewanie</mat-label>
        <input type="number"
               placeholder="Ogrzewanie"
               matInput
               [(ngModel)]="measurement.heating"
               name="heating"
               #heating="ngModel"
               >
      </mat-form-field>
      <div *ngIf="measurementForm.submitted && heating.invalid" class="invalid-feedback">
        <div *ngIf="heating.errors.required">Wymagane pole</div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Miesiąc</mat-label>
        <mat-select name="month" [(ngModel)]="measurement.month" required>
          <mat-option *ngFor="let month of months" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Rok</mat-label>
        <mat-select name="year" [(ngModel)]="measurement.year" required>
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button  mat-raised-button class="primary add-measurement-btn" type="submit" *ngIf="!isEditingMeasurement">Dodaj odczyt</button>
    <button  mat-raised-button class="primary add-measurement-btn" type="submit" *ngIf="isEditingMeasurement">Edytuj odczyt</button>
  </form>
</div>
