.top-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  .logo {
    font-size: 28px;
    cursor: pointer;
  }
  .user-area {
    display: flex;
    .translation-area {
      margin-right: 20px;
      button {
        margin-right: 15px;
        height: 20px;
        line-height: 0;
      }
    }
  }
}
.logged-user-info {
  margin-right: 25px;
}
.logout {
  cursor: pointer;
  text-decoration: underline;
}

.mat-button-wrapper::ng-deep {
  position: relative !important;
  bottom: 7px !important;
}
