.top-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  .logo {
    font-size: 28px;
    cursor: pointer;
  }
}
.logged-user-info {
  margin-right: 25px;
}
.logout {
  cursor: pointer;
  text-decoration: underline;
}
