@import "~src/assets/styles/variables.scss";
.bill-element {
  margin-left: 15px;
}
.accept-bill {
  margin-right: 10px;
}

.bill-paymennt-requirements-info {
  font-weight: 100;
  font-size: 10px;
}

