<div class="component-content" *ngIf="bill">
  <header>
    <div class="header-area">
      <h3 class="header-title">Rachunek dla lokalu nr: {{bill.measurement.premise.number}}</h3>
      <div class="buttons-area" *ngIf="authGuard.hasRole(['ROLE_ADMIN', 'ROLE_MANAGER']) && !bill.paid">
        <button mat-raised-button class="primary accept-bill" (click)="acceptBill()" [disabled]="bill.isAccepted">Zatwierdź rachunek</button>
        <button mat-raised-button color="warn" (click)="denyBill()">Odrzuć rachunek</button>
      </div>
      <div class="pay-bill-area" *ngIf="authGuard.hasRole(['ROLE_USER']) && !bill.paid">
        <button mat-raised-button class="primary" (click)="payBill()" [disabled]="!bill.accepted">Zapłać</button>
        <button mat-raised-button class="primary edit-bill-btn" (click)="editBill()" [disabled]="bill.accepted">Edytuj rachunek</button>
        <p class="bill-paymennt-requirements-info" *ngIf="!bill.accepted">Aby zapłacić za rachunek musi on być zaakceptowany</p>
      </div>
    </div>
    <div class="bill-state-info">
      <div class="state-block">
        <span>Stan zapłaty: </span>
        <span class="{{bill.paid == true ? 'status-ok' : 'status-not-ok'}}">
        {{bill.paid == true ? 'Zapłącony' : 'Niezapłacony'}}
      </span>
      </div>
      <div class="state-block">
        <span>Stan akceptacji: </span>
        <span class="{{bill.accepted == true ? 'status-ok' : 'status-not-ok'}}">
          {{bill.accepted == true ? 'Zaakceptowany' : 'Niezaakceptowany'}}
        </span>
      </div>
      <div class="state-block">
        <span>Stan rozpatrzenia odczytu: </span>
        <span class="{{bill.checked == true ? 'status-ok' : 'status-not-ok'}}">
          {{!bill.checked ? 'Oczekujący na potwierdzenie' : 'Potwierdzony'}}
        </span>
      </div>
    </div>
  </header>
  <div class="bill-details-area">
    <h5>Szczegóły rachunku</h5>
    <mat-list>
      <mat-list-item>
        <span>Koszt prądu: </span><span class="bill-element">{{bill.electricityCost}} zł</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Koszt ciepłej wody: </span><span class="bill-element">{{bill.hotWaterCost}} zł</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Koszt zimnej wody: </span><span class="bill-element">{{bill.coldWaterCost}} zł</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Koszt ogrzewania: </span><span class="bill-element">{{bill.heatingCost}} zł</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
