@import "~src/assets/styles/variables.scss";
.measurement-not-accepted {
  color: $errorColor;
}

.measurement-accepted {
  color: $successColor;
}

.account-active-icon {
  color: $successColor;
}

.measurement-waiting-for-confimartion {
  color: #FFA500;
}

.pdf-icon-download:hover {
  color: #3f51b5;
}
