@import "~src/assets/styles/variables.scss";
.accept-measurement {
  margin-right: 10px;
}

.measurement-details-area {
  margin-top: 30px;
  .measurement-details-element {
    margin-left: 25px;
    font-weight: 500;
  }
}

.state-block {
  margin-bottom: 15px;
}
