@import "~src/assets/styles/variables.scss";

.side-nav-area {
  position: fixed;
  height: calc(100% - #{$sideNavTop});
  width: $sideNavWidth;
  top: $sideNavTop;
  background-color: $mainTheme;
}

.top-nav-area {
  position: fixed;
  width: 100%;
  height: $sideNavTop;
  background-color: $mainTheme;
}

.page-content {
  position: fixed;
  left: $sideNavWidth;
  top: $sideNavTop;
  padding: 30px;
  height: calc(100% - #{$sideNavTop});
  width: calc(100% - #{$sideNavWidth} - 60px);
  border-radius: 15px;
}
