<div class="component-content">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="content-container" [hidden]="isLoading">
    <header>
      <div class="header-area">
        <h3 class="header-title">Rachunki</h3>
      </div>
    </header>
    <div class="list-content" [hidden]="!(bills && bills.length > 0)">
      <table #table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)"> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="measurement.month">
          <th mat-header-cell *matHeaderCellDef>Miesiąc</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)"> {{element.measurement.month}}</td>
        </ng-container>

        <ng-container matColumnDef="measurement.year">
          <th mat-header-cell *matHeaderCellDef>Rok</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)"> {{element.measurement.year}}</td>
        </ng-container>

        <ng-container matColumnDef="measurement.premise.number">
          <th mat-header-cell *matHeaderCellDef>Lokal numer</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)"> {{element.measurement.premise.number}}</td>
        </ng-container>

        <ng-container matColumnDef="accepted">
          <th mat-header-cell *matHeaderCellDef>Zaakceptowany</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)">
            <i class="material-icons measurement-not-accepted" *ngIf="!element.accepted">
              close
            </i>
            <i class="material-icons measurement-accepted" *ngIf="element.accepted">
              check
            </i>
        </ng-container>

        <ng-container matColumnDef="checked">
          <th mat-header-cell *matHeaderCellDef>Oczekujący na potwierdzenie</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)">
            <i class="material-icons measurement-waiting-for-confimartion" *ngIf="!element.checked">
              av_timer
            </i>
            <i class="material-icons measurement-accepted" *ngIf="element.checked">
              check
            </i>
          </td>
        </ng-container>

        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef>Zapłacony</th>
          <td mat-cell *matCellDef="let element" (click)="billDetails(element, $event)">
            <i class="material-icons measurement-not-accepted" *ngIf="!element.paid">
              close
            </i>
            <i class="material-icons measurement-accepted" *ngIf="element.paid">
              check
            </i>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: columnKeys; let i = index"></tr>
      </table>

      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>
    </div>
    <span *ngIf="bills && bills.length <= 0">Brak odczytów</span>
  </div>
</div>
