<div class="component-content">
  <header>
    <div class="header-area">
      <h3 class="header-title">Budynki</h3>
      <button>jakas akcja</button>
    </div>
  </header>
  <div class="list-content">
    <!--<table #table mat-table [dataSource]="dataSource">-->

      <!--&lt;!&ndash; Position Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="id">-->
        <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; Name Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="number">-->
        <!--<th mat-header-cell *matHeaderCellDef> Name </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.number}} </td>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="address">-->
        <!--<th mat-header-cell *matHeaderCellDef> Weight </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.address}} </td>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="city">-->
        <!--<th mat-header-cell *matHeaderCellDef> Symbol </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.city}} </td>-->
      <!--</ng-container>-->

      <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
      <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--</table>-->

    <table #table mat-table [dataSource]="dataSource">
      <div *ngFor="let displayColumn of displayedColumns2, let i = index">
        <ng-container matColumnDef="{{displayColumn.key}}">
          <th mat-header-cell *matHeaderCellDef>{{displayColumn.name}}</th>
          <td mat-cell *matCellDef="let element"> {{element[displayColumn.key]}}</td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
