<div class="component-content">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="content-container" *ngIf="!isLoading">
    <header>
      <div class="header-area">
        <h3 class="header-title">Budynki</h3>
        <button mat-raised-button class="primary" (click)="addBuilding()">Dodaj budynek</button>
      </div>
    </header>
    <div class="list-content">
      <table #table mat-table [dataSource]="dataSource" *ngIf="buildings && buildings.length > 0" matSort>
        <div *ngFor="let displayColumn of displayedColumns, let i = index">
          <ng-container matColumnDef="{{displayColumn.key}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayColumn.name}}</th>
            <div *ngIf="displayColumn.key == 'edit'">
              <td mat-cell *matCellDef="let element">
                <i class="material-icons" (click)="editBuilding(element, $event)">
                  edit
                </i>
              </td>
            </div>
            <div *ngIf="displayColumn.key != 'edit'">
              <td mat-cell *matCellDef="let element">
                {{element[displayColumn.key]}}
              </td>
            </div>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: columnKeys; let i = index" (click)="buildingDetails(row)"></tr>
      </table>

      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>
    </div>
  </div>
</div>
